/* Genel Ayarlar */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}

/* Header */
header {
    width: 100%;
    padding: 15px 0;
    background: #2c2f33;
    text-align: center;
    color: white;
    font-size: 24px;
    border-bottom: 2px solid #4b0082;
}

/* Sol Panel */
.sidebar {
    width: 250px;
    background-color: #343a40;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #6a11cb;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #4b0082;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background: #6a11cb;
}

.sidebar ul li a i {
    margin-right: 10px;
}

/* İçerik */
.content {
    flex: 1;
    padding: 40px;
}

.content h2 {
    font-size: 28px;
    color: #fff;
}

.content p {
    font-size: 18px;
    color: #dcdcdc;
}
